@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #232424;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: Against;
  src: url(/font/against\ regular.ttf);
}

@font-face {
  font-family: Lexend-SemiBold;
  src: url(/font/Lexend-SemiBold.ttf);
}

@font-face {
  font-family: Stray-Regular;
  src: url(/font/Stray-Regular.otf);
}

.bg-gradientLa {
  background: rgb(206, 11, 231);
  background: linear-gradient(45deg, rgba(206, 11, 231, 1) 0%, rgba(27, 162, 250, 1) 100%);
}

.bg-gradientDo {
  background: rgb(206, 11, 231);
  background: linear-gradient(225deg, rgba(206, 11, 231, 1) 0%, rgba(27, 162, 250, 1) 100%);
}

.bg-gradientRe {
  background: rgb(206, 11, 231);
  background: linear-gradient(315deg, rgba(206, 11, 231, 1) 0%, rgba(27, 162, 250, 1) 100%);
}

.bode {
  margin: 0;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hidden-header {
  display: none;
  top: -100px;
}

.text-purple {
  color: #CE0BE7;
}

.text-lightBlue {
  color: #1BA2FA;
}

.custom-bg-purple {
  background-color: #CE0BE7;
}

.custom-bg-gradient {
  background: linear-gradient(to right, #CE0BE7, #1BA2FA);
  background-size: 200% 100%;
  animation: gradientAnimation 4s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }

  50% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4vh;
  padding-left: 8vh;
  padding-right: 8vh;
  transition: top 0.5s;
  top: -100px;
}

.header-container.show-header {
  top: 0;
}

.header-container.sticky {
  top: -100px;
}

.header-container h1 {
  display: inline;
  font-size: 5vh;
}

.header-container h1 a {
  text-decoration: none;
  font-family: Stray-Regular;
  color: #CE0BE7;
}

.header-container nav {
  display: inline-block;
}

.header-container ul {
  list-style: none;
}

.header-container li {
  display: inline;
  margin-left: 4vh;
}

.header-container li a {
  font-family: Lexend-SemiBold;
  font-size: 2.8vh;
  text-decoration: none;
  color: #1BA2FA;
}

.header-container li a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.header-container ul {
  list-style-type: none;
  overflow: hidden;
}

.header-container li {
  float: left;
}

.ini {
  height: 100vh;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  position: relative;
  z-index: 1;
}

.ini .ttContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 60%;
  max-width: 100%;
  background: #f5f5f5;
  padding-left: 20vh;
}

.twContainer {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.twContainer .text {
  position: relative;
  color: #232424;
  font-size: 8vh;
  font-weight: 600;
}

.twContainer .text.first-text {
  color: #232424;
}

.text.sec-text {
  border-right: 5px solid #232424;
  color: #1BA2FA;
  animation:
    cursor 1s step-end infinite;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.ini .ttContainer h1 {
  width: 100%;
  text-align: start;
  font-size: 8vh;
}

.ini .ttContainer h2 {
  width: 100%;
  text-align: start;
  font-size: 5vh;
}

.ini .otContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 40%;
  max-width: 100%;
  background: #f5f5f5;
}

.draw {
  width: 45vh;
  height: 45vh;
  margin: auto;
}

.draw img {
  width: 100%;
  height: auto;
}

.social {
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 0;
  margin-bottom: 8vh;
  z-index: 2;
}

.social .container {
  height: fit-content;
  background: rgb(206, 11, 231);
  background: linear-gradient(125deg, rgba(206, 11, 231, 1) 0%, rgba(27, 162, 250, 1) 100%);
  width: fit-content;
  border-radius: 100px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.social .row {
  display: flex;
  justify-content: center;
}

.social .col {
  height: fit-content;
  margin: 1.2vh;
  margin-left: 3.5vh;
  margin-right: 3.5vh;
}

.social .col a {
  display: flex;
  height: fit-content;
  justify-content: center;
}

.social i {
  font-size: 4vh;
  color: #f5f5f5;
}

.bode .about {
  height: fit-content;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.circular-border {
  width: 51.5vh;
  height: 51.5vh;
  border-radius: 50%;
  display: flex;
}

.circular-image {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descricao {
  height: 100%;
  width: 60%;
  padding: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.centro {
  text-align: start;
  margin-bottom: 10vh;
}

.descricao h1 {
  font-size: 5.5vh;
}

.descricao p {
  margin-right: 10vh;
  font-size: 2.9vh;
}

.social.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8em;
}

.LangAndTools {
  width: 100%;
  padding: 1.5em 0 1.5em 0;
  height: fit-content;
  display: flex;
  background-color: #F5F5F5;
  box-sizing: border-box;
}

.LangAndTools img {
  width: 5vw;
  margin: auto;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.bode2 {
  background: #E9E9E9;
  min-height: 100vh;
}

.bode2 .container {
  position: relative;
  width: 100%;
  padding: 10vh;
}

.bode2 .container h1 {
  font-size: 10vh;
}

.bode2 .container p {
  font-size: 3vh;
}


.bode2 .container .top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 0;
}

.horizontal-carousel {
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.horizontal-carousel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: transform 0.3s ease;
}

.horizontal-carousel ul li {
  width: 75vw;
  height: 80vh;
  flex: 0 0 auto;
  transition: transform 0.3s ease;
}

li.selected {
  filter: blur(0);
}

.horizontal-carousel ul li .item {
  width: 65vw;
  height: 75vh;
  background: #fff;
  border-radius: 2em;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.i-status {
  position: absolute;
  border-radius: 1.8em;
  font-size: .8rem;
  padding: 4px 6px 4px 6px;
  color: #fff;
  bottom: 90%;
  left: 4%;
}

.is-completed {
  background: linear-gradient(125deg, #1BA2FA, #CE0BE7);
  background-size: 200% 100%;
  animation: gradientAnimation 4s linear infinite;
}

.in-development {
  background: linear-gradient(125deg, #CE0BE7, #1BA2FA);
  background-size: 200% 100%;
  animation: gradientAnimation 4s linear infinite;
}

.is-active {
  background-color: #1BA2FA;
}

.is-planning {
  background-color: #1BA2FAbb;
}

.on-hold {
  background-color: #cd0be7bb;
}

.horizontal-carousel ul li .item img {
  width: 100%;
  height: auto;
  display: block;
}

.horizontal-carousel ul li .item .i-description {
  position: absolute;
  top: 76%;
  left: 50%;
  border-radius: .6em;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: fit-content;
  padding: 8px;
  width: 95%;
  cursor: default;
}

.i-description h4,
.i-description p,
.i-description a,
.i-description .tag {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
}

.i-description h4 {
  font-size: 1.2rem;
}

.i-description a {
  margin-top: auto;
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.85rem;
  cursor: pointer;
}

.tags {
  margin-top: 0.4rem;
}

.tags .tag {
  border-radius: 2px;
  text-align: center;
  margin: 0 10px 10px 0;
  padding: 0 9px 2px 9px;
  line-height: 1.5;
  font-size: .9rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
}

.i-description p {
  margin-top: 0.6rem;
}

footer {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
  padding: 10px 85px 10px 85px;
  margin: 0;
  font-family: "Avenir", Sans-serif;
}

.copyright {
  text-align: center;
  color: #8F8F8E;
  font-family: "Avenir", Sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.copyright p {
  margin: 0;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.language-btn {
  background-color: #1BA2FA;
  color: white;
  font-size: 1rem;
  padding: 10px 20px; 
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-btn:hover {
  background-color: #CE0BE7;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #CE0BE7;
}
