.reflection-container-ydde {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  perspective: 1000px;
  
  .reflection-content {
    margin: 3rem;
    height: 16rem;
    width: 16rem;
    background: transparent url(../../img/ico.png);
    background-size: cover;
    background-position: center;
    transition: transform 0.1s ease-out; 
    transform-style: preserve-3d;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  }
}

