:root, [data-theme="dark"] {
    --reflection-img-yde: url(../../../img/yde.png);
}

[data-theme="light"] {
    --reflection-img-yde: url(../../../img/yde-black.png);
}

[data-theme="pink"] {
    --reflection-img-yde: url(../../../img/yde-black.png);
}

.reflection-container-yde {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  perspective: 1000px;
  
  .reflection-content {
    margin: 3rem;
    height: 14rem;
    width: 20rem;
    background: transparent var(--reflection-img-yde);
    background-size: cover;
    background-position: center;
    transition: transform 0.1s ease-out; 
    overflow: visible;
  }
}

